/*griglia*/
*{
box-sizing: border-box;
}

/* qui inizia il layout*/
[class*="col-"] {
  float: left;
  padding:10px;
  margin: 5.5px;
}
.col-1 {width: 123px;}
.col-2 {width: 256px;}
.col-3 {width: 390px;}
.col-4 {width: 524px;}
.col-5 {width: 656px;}
.col-6 {width: 791px;}
.col-7 {width: 924px;}
.col-8 {width: 1058px;}

div {
  height: 123px;
}

.tutto{
  max-width: 1080px;
  margin: auto;
  padding-left: 2px;
  padding-top: 15px;

}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.dx{
  float: left;
  width: 670px;
  margin-left: -4px;
}
.sx{
  float: left;
  width: 405px;
}

.rigaTraslata{
  transform: translateY(145px);
}

.centrato{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoscaled{
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back{
  position:absolute;
  bottom:-30px;
  right:-30px;
}
.back:hover{
  transform: scale(1.2);
}

.dueRighe{
  height: 257px;
}
/* qui finisce il layout*/
/* qui iniziano i font*/
@font-face {
    font-family: "FuturaMedium";
    src: url(../futura/futura_medium.ttf);}
@font-face {
    font-family: "FuturaBook";
    src: url(../futura/futura_book.ttf);}
@font-face {
    font-family: "FuturaExtraBold";
    src: url(../futura/futura_extra_bold.otf);}
@font-face {
    font-family: "FuturaBold";
    src: url(../futura/futura_bold.otf);}
@font-face {
    font-family: "PostTypo";
    src: url(../futura/postypo.woff2);}

p{
  font-family: 'FuturaMedium';
  font-size: 13px;
  line-height: 14px;
  margin-bottom:1.5em;
}
p.extrabold{
  font-family: 'FuturaExtraBold';
  font-size: 72px;
  line-height: 14px;
  margin-bottom:1.5em;
}
p.filmProgrammazione{
  position:absolute;
  top:-5px;
  text-align: center;
  font-family: 'FuturaBold';
  font-size: 12px;
  line-height: 14px;
  margin-bottom:1.5em;
  text-transform: uppercase;
  color: #FBF598;
}
p.VO{
  position:absolute;
  bottom:-13px;
  text-align: center;
  font-family: 'FuturaMedium';
  font-size: 12px;
  line-height: 14px;
  margin-bottom:1.5em;
  text-transform: uppercase;
  color: #FBF598;

}
/* qui finiscono i font*/
/* qui inizia il menù*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  font-family: 'FuturaExtraBold';
  font-size: 16px;
  line-height: 14px;
  margin-bottom:1em;
}
a{
      transition: all 0.25s ease;
}
a#lune:link, a#lune:visited{
  color: #FBF598;
  text-decoration: none;
  padding: 1000px 1px 1px 1px;
  background-color: #000000;
}
a#lune:hover, a#lune:active{
  font-size: 13.5px;
  color: #000000;
  background-color: #FBF598;
}

a#week:link, a#week:visited{
  color: #000000;
  text-decoration: none;
  padding: 1000px 1px 1px 1px;
  background-color: #FBF598;
}
a#week:hover, a#week:active{
  font-size: 13.5px;
  color: #FBF598;
  background-color: #000000;
}

a#prog:link, a#prog:visited{
  color: #FBF598;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  background-color: #000000;
}
a#prog:hover, a#prog:active{
  font-size: 17px;
  color: #000000;
  background-color: #FBF598;
}

a#normale:link, a#normale:visited{
  color: #000000;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  background-color: #FBF598;
}
a#normale:hover, a#normale:active{
  font-size: 17px;
  color: #FBF598;
  background-color: #000000;
}

/* qui finisce il menù*/

/*alone in gradiente sopra thumbnail*/
.shadow{
width: 255px;
height: 81px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
padding:40px;
}

@keyframes ingrandisceRimpicciolisce {
  40% {transform: scale(1);}
  50% {transform: scale(0);}
  60% {transform: scale(1);}
}
.animation{
  animation-name: ingrandisceRimpicciolisce;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

}


footer{
background-color: #000000;
clear: both;
position: absolute;
bottom: -10px;
height: 150px;
width: 110%;
margin-left: -50px;
top:967px;
z-index:-2;

}
.colophon{
  position: absolute;
  color:#FBF598;
}
h1{
  font-family: 'PostTypo';
  font-size: 81px;
}

h2{
  font-family: 'FuturaExtraBold';
  font-size: 27px;
}

h3{
  font-family: 'FuturaBold';
  font-size: 13.5px;

}

h4{
  font-family: 'FuturaBook';
  font-size: 16.828px;
  line-height: 0px;
}
h5{
  font-family: 'FuturaBook';
  font-size: 11px;
  line-height: 0px;
  margin-top: -6px;
}
h6{
  font-family: 'FuturaBook';
  font-size: 8.5px;
  line-height: 0px;
  margin-top: -8px
}

p.settimana{
  font-family:'FuturaBold';
  font-size: 13.5px;
  margin-left: 5px;
  line-height: 14px;
  margin-bottom:1.5em;
  margin-top: 122px;
  right: 50px;
  transform: translateX(-65px);
}
.filmTimeline{
  position:absolute;
  width:125px;
  height: 55px;
  background-color:black;
}
#orariobasso{
  position:absolute;
  bottom:-310px;
  /*transform:translate(-330px,-5px);*/
  color: red;
}
#lineaTempo{
  position:absolute;
  top:-187px;
  right:181.5px;
}
.orari{
  position: absolute;
  bottom: 50px;
  margin-left: 65px;
  margin-top: 124px;
}

.orarip{
  position: absolute;
  bottom: 30px;
}
.spazio{
  margin-bottom: 25px;
}
.lultima{
  margin-bottom:20px;
}
.inbasso{
  transform: translateY(0px);
}
html{
  overflow-x: hidden;
}
#myAnimation{
  background-color: black;
}
#tab{
  display: none;}

.tab{
  display: none;
}

@media screen and (min-width:554px) and (max-width: 1099px){

  .tutto{
    max-width: 540px;
    margin: auto;
    padding-left: 2px;
    padding-top: 15px;

  }
  #desk{
    display: none;
  }
  #tab{
    display: block;
  }
  .sxTab{
    float: left;
    width: 540px;
  }
  footer{
  height: 300px;
  top:1770px;
}

  .dx{
    margin-left: 0px;
  }

  .inbasso{
  }

  .logoscaled{
    padding: 12px;
  }
  .tab{
    display: block;
  }

}
