/*griglia*/
*{
box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
/* qui inizia il layout*/
[class*="col-"] {
  float: left;
  padding:10px;
  margin: 5.5px;
}
.col-1 {width: 123px;}
.col-2 {width: 256px;}
.col-3 {width: 390px;}
.col-4 {width: 524px;}
.col-5 {width: 656px;}
.col-6 {width: 791px;}
.col-7 {width: 924px;}
.col-8 {width: 1058px;}

/* così diventano quadrati*/
div {
  height: 123px;
}
/* i confini deli col-*/
.tutto{
  max-width: 1080px;
  margin: auto;
  padding-left: 2px;
  padding-top: 15px;

}
/* riga*/
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* per dividere la pagina quando comprare un dueRighe*/
.dx{
  float: left;
  width: 670px;
  margin-left: -4px;
}
.sx{
  float: left;
  width: 405px;
}

/* per allineare gli elementi al centro*/
.centrato{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* per gli elementi alti due righe*/
.dueRighe{
  height: 257px;
}
/* qui finisce il layout*/





/* qui iniziano i font*/
@font-face {
    font-family: "FuturaMedium";
    src: url(../futura/futura_medium.ttf);}
@font-face {
    font-family: "FuturaBook";
    src: url(../futura/futura_book.ttf);}
@font-face {
    font-family: "FuturaExtraBold";
    src: url(../futura/futura_extra_bold.otf);}

p{
  font-family: 'FuturaMedium';
  font-size: 13px;
  line-height: 14px;
  margin-bottom:1.5em;
}
p.extrabold{
  font-family: 'FuturaExtraBold';
  font-size: 72px;
  line-height: 14px;
  margin-bottom:1.5em;
}

p.extrabold_small{
  font-family: 'FuturaExtraBold';
  font-size: 14px;
  line-height: 14px;
  margin-bottom:1.5em;
}

p.book_big{
  font-family: : 'FuturaBook';
  font-size: 20px;
  line-height: 14px;
  margin-bottom: 1.5em;
}

p.book_mid{
  font-family: 'FuturaBook';
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 1.5em;
}

p.book_small{
  font-family: 'FuturaBook';
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 1.5em;
}

p.thumbnail_horizontal{
  position: absolute;
  font-family: : 'FuturaBook';
  font-size: 20px;
  line-height: 14px;
  margin-bottom: 1.5em;
  color: #FFFFFF;
  /*transform: translateX(60px) translateY(40px);*/
  right: 20px;
  bottom: -10px;

}

p.thumbnail_vertical_big{
  position: absolute;
  font-family: 'FuturaBook';
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 1.5em;
  color: #FFFFFF;
  transform: rotate(-90deg);
  right: 0;
  bottom: 42px;
}

p.thumbnail_vertical_small{
  position: absolute;
  font-family: 'FuturaBook';
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 1.5em;
  color: #FFFFFF;
  transform: rotate(-90deg);
  right: 20px;
  bottom: 45px;
}

p.slideshow_horizontal{
  position: relative;
  font-family: 'FuturaMedium';
  font-size: 27px;
  line-height: 14px;
  margin-bottom: 1.5em;
  color: #FFFFFF;
}
h4{
  font-family: 'FuturaBook';
  font-size: 16.828px;
  line-height: 0px;
}
h5{
  font-family: 'FuturaBook';
  font-size: 11px;
  line-height: 0px;
  margin-top: -6px;
}
h6{
  font-family: 'FuturaBook';
  font-size: 8.5px;
  line-height: 0px;
  margin-top: -8px
}
/* qui finiscono i font*/


/* qui inizia il menù*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  font-family: 'FuturaExtraBold';
  font-size: 16px;
  line-height: 14px;
  margin-bottom:1em;
}
a{
      transition: all 0.25s ease;
}
a#normale:link, a#normale:visited{
  color: #000000;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  background-color: #FBF598;
}
a#normale:hover, a#normale:active{
  font-size: 17px;
  color: #FBF598;
  background-color: #000000;
}
a#none:link, a#none:visited{
  color: #000000;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
}
a#none:hover, a#none:active{
  font-size: 17px;
}

/* qui finisce il menù*/

/* aggiustamento film*/
.film{
  position: relative;
  z-index:-1;
}
/* inizio animazioni*/
@keyframes ingrandisceRimpicciolisce {
  40% {transform: scale(1);}
  50% {transform: scale(0);}
  60% {transform: scale(1);}
}
.animation{
  animation-name: ingrandisceRimpicciolisce;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

}

@keyframes freccia {
  40% {transform: skewY(20deg);}
  50% {transform: skewy(0);}
  60% {transform: skewY(20deg);}
}

.animation2{
  animation-name: freccia;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

}

@keyframes cerchio{
  50%{ transform: rotateX(180deg);}
  80% {transform: rotateX(360deg);}
}

.animation3{
  animation-name: cerchio;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

}

@keyframes triangolo {
  30% {transform: rotateY(180deg);}

}

.animation4{
  animation-name: triangolo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes semi {
  50%{transform: translateX(30px);}

}

.animation5{
  animation-name: semi;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes logo {
  0%{transform: translateX(-200px);}
  10%{transform: translateX(0px);}
  90%{transform: translateX(0px);}
  100%{transform: translateX(200px);}

}


.animation6{
  animation-name: logo;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes bordo {
  0%{border:0px solid black;}
  40%{border:5px solid black;}
  60%{border:5px solid black;}
  100%{border:0px solid black;}

}

.quadrami:hover{
  border:0px solid black;
    transition: all 0.25s ease;
  }
.quadrami:hover{
  border:4px solid black;
  padding:2px;
    transition: all 0.25s ease;
}
.squadrami{
  border:5px solid black;
    transition: all 0.25s ease;
}
.squadrami:hover{
  border:0px solid black;
    transition: all 0.25s ease;
  }
/* fine animazioni*/
/* inizio del footer*/
footer{
background-color: #000000;
clear: both;
position: relative;
bottom: -10px;
height: 150px;
width: 110%;
margin-left: -50px;
margin-top: 700px;
z-index:-2;

}
.rigaTraslata{
  transform: translateY(145px);
}

.colophon{
  position: absolute;color:#FBF598;
}

.spazio{
  margin-bottom: 25px;
}
.lultima{
  margin-bottom:20px;
}
.inbasso{
  transform: translateY(300px);
}
/* fine del footer*/
/* slideshow*/
#myAnimation{
  background-color: black;
}
/* respondive*/
#tab{
  display: none;}

.tab{
  display: none;
}
#smart{
  display: none;
}

@media screen and (min-width:554px) and (max-width: 1099px){
/* i confini deli col-*/
  .tutto{
    max-width: 540px;
    margin: auto;
    padding-left: 2px;
    padding-top: 15px;

  }
  /* responsive*/
  #desk{
    display: none;
  }
  #tab{
    display: block;
  }
  .tab{
    display: block;
  }
  #smart{
    display: none;
  }
  /* modifiche al layout*/
  .sxTab{
    float: left;
    width: 540px;
  }

  .dx{
    margin-left: 0px;
  }
  /* modifiche al footer*/
  footer{
  height: 300px;
  top: 185px;}

  .inbasso{
    transform: translateY(450px);
  }
/* modifiche al logo*/
  .logoscaled{
    padding: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

}
@media screen and (max-width: 554px){
/* i confini deli col-*/
  .tutto{
    max-width: 270px;
    margin: auto;
    padding-left: 2px;
    padding-top: 15px;

  }
  /* responsive*/
  #desk{
    display: none;
  }
  .noSmart{
    display: none;
  }
  #noSmart{
    display: none;
  }
  #smart{
    display: block;
  }
    /* modifiche al footer*/
  footer{
    position:absolute;
  height: 450px;
  top:535px;
}

  .inbasso{
    transform: translateY(450px);
  }
/* modifiche al logo*/
  .logoscaled{
    padding: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  #menuHideSmart{

  }
}
}
