/*griglia*/
*{
box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
/* qui inizia il layout*/
[class*="col-"] {
  float: left;
  padding:10px;
  margin: 5.5px;
}
.col-1 {width: 123px;}
.col-2 {width: 256px;}
.col-3 {width: 390px;}
.col-4 {width: 524px;}
.col-5 {width: 656px;}
.col-6 {width: 791px;}
.col-7 {width: 924px;}
.col-8 {width: 1058px;}

/* così diventano quadrati*/
div {
  height: 123px;
}
/* i confini deli col-*/
.tutto{
  max-width: 1080px;
  margin: auto;
  padding-left: 2px;
  padding-top: 15px;

}
/* riga*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* per allineare gli elementi al centro*/
.centrato{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* per gli elementi alti due righe*/
.dueRighe{
  height: 257px;
}
/* qui finisce il layout*/



/* qui iniziano i font*/
@font-face {
    font-family: "FuturaMedium";
    src: url(../futura/futura_medium.ttf);}
@font-face {
    font-family: "FuturaBook";
    src: url(../futura/futura_book.ttf);}
@font-face {
    font-family: "FuturaExtraBold";
    src: url(../futura/futura_extra_bold.otf);}
@font-face {
    font-family: "FuturaBold";
    src: url(../futura/futura_bold.otf);}
@font-face {
    font-family: "PostTypo";
    src: url(../futura/postypo.woff2);}

p{
  font-family: 'FuturaMedium';
  font-size: 13px;
  line-height: 14px;
  margin-bottom:1.5em;
}
p.extrabold{
  font-family: 'FuturaExtraBold';
  font-size: 72px;
  line-height: 14px;
  margin-bottom:1.5em;
}
p.filmProgrammazione{
  position:absolute;
  top:-5px;
  text-align: center;
  font-family: 'FuturaBold';
  font-size: 12px;
  line-height: 14px;
  margin-bottom:1.5em;
  text-transform: uppercase;
  color: #FBF598;
}
p.VO{
  position:absolute;
  bottom:-13px;
  text-align: center;
  font-family: 'FuturaMedium';
  font-size: 12px;
  line-height: 14px;
  margin-bottom:1.5em;
  text-transform: uppercase;
  color: #FBF598;

}
p.settimana{
  font-family:'FuturaBold';
  font-size: 13.5px;
  margin-left: 5px;
  line-height: 14px;
  margin-bottom:1.5em;
  margin-top: 122px;
  right: 50px;
  transform: translateX(-65px);
}
h1{
  font-family: 'PostTypo';
  font-size: 81px;
}

h2{
  font-family: 'FuturaExtraBold';
  font-size: 27px;
}

h3{
  font-family: 'FuturaBold';
  font-size: 13.5px;

}

h4{
  font-family: 'FuturaBook';
  font-size: 16.828px;
  line-height: 0px;
}
h5{
  font-family: 'FuturaBook';
  font-size: 11px;
  line-height: 0px;
  margin-top: -6px;
}
h6{
  font-family: 'FuturaBook';
  font-size: 8.5px;
  line-height: 0px;
  margin-top: -8px
}
/* qui finiscono i font*/


/* qui inizia il menù*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  font-family: 'FuturaExtraBold';
  font-size: 16px;
  line-height: 14px;
  margin-bottom:1em;
}
a{
  transition: all 0.25s ease;
}
a#lune:link, a#lune:visited{
  color: #FBF598;
  text-decoration: none;
  padding: 1000px 1px 1px 1px;
  background-color: #000000;
}
a#lune:hover, a#lune:active{
  font-size: 13.5px;
  color: #000000;
  background-color: #FBF598;
}

a#week:link, a#week:visited{
  color: #000000;
  text-decoration: none;
  padding: 1000px 1px 1px 1px;
  background-color: #FBF598;
}
a#week:hover, a#week:active{
  font-size: 13.5px;
  color: #FBF598;
  background-color: #000000;
}

a#prog:link, a#prog:visited{
  color: #FBF598;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  background-color: #000000;
}
a#prog:hover, a#prog:active{
  font-size: 17px;
  color: #000000;
  background-color: #FBF598;
}

a#normale:link, a#normale:visited{
  color: #000000;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  background-color: #FBF598;
}
a#normale:hover, a#normale:active{
  font-size: 17px;
  color: #FBF598;
  background-color: #000000;
}

/* qui finisce il menù*/

/* qui iniziano le animazioni*/
@keyframes lune {
  0% {transform: translateY(150px);}
  10% {transform: translateY(30px);}
  90% {transform: translateY(30px);}
  100% {transform: translateY(150px);}
}
.animation1{
  animation-name: lune;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

}

@keyframes freccia {
  0%{transform: translateY(61.5px);}
  50%{transform: translateY(40px);}
  100%{transform: translateY(61.5px);}

}

.animation2{
  animation-name: freccia;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

}

@keyframes semi {
  0%{transform: translateX(-30px);}
  50%{transform: translateX(30px);}
  100%{transform: translateX(-30px);}

}

.animation3{
  animation-name: semi;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;

}

/* qui finiscono le animazioni*/

/* inizio del footer*/
footer{
background-color: #000000;
clear: both;
position: absolute;
bottom: -10px;
height: 150px;
width: 110%;
margin-left: -50px;
top:700px;
z-index:-2;

}
.colophon{
  position: absolute;
  color:#FBF598;
}
.spazio{
  margin-bottom: 25px;
}
.inbasso{
  transform: translateY(0px);
}
/* fine del footer*/

/*altro specifico della programmazione*/
.filmTimeline{
  position:absolute;
  width:125px;
  height: 55px;
  background-color:black;
}
#orariobasso{
  position:absolute;
  bottom:-310px;
  color: red;
}
#lineaTempo{
  position:absolute;
  top:-187px;
  right:181.5px;
}
.orari{
  position: absolute;
  bottom: 50px;
  margin-left: 65px;
  margin-top: 124px;
}

.orarip{
  position: absolute;
  bottom: 30px;
}
/*responsive*/
#tab{
  display: none;}

.tab{
  display: none;
}



/*fine desktop inizio tablet*/
@media screen and (min-width:554px) and (max-width: 1099px){
/* i confini deli col-*/
  .tutto{
    max-width: 540px;
    margin: auto;
    padding-left: 2px;
    padding-top: 15px;
  }
/* responsive*/
  #desk{
    display: none;
  }
  #tab{
    display: block;
  }

  .tab{
    display: block;
  }
  /* modifiche al footer*/
  footer{
  height: 300px;
  top:830px;
}
/* modifiche al logo*/
  .logoscaled{
    padding: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /*programmazione Tab*/
  .orari{
    position: relative;
    margin-top: 57px;
  }

  .orarip{
    position: absolute;
    left:85px;

  }
  p.settimana{
    font-family:'FuturaBold';
    font-size: 13.5px;
    margin-left: 5px;
    line-height: 14px;
    margin-bottom:1.5em;
    margin-top: 0px;
    position: absolute;
    left:-100px;
    top:20px;
  }
  a#lune:link, a#lune:visited{
    color: #FBF598;
    text-decoration: none;
    padding: 1px 1px 1px 1px;
    background-color: #000000;
  }
  a#lune:hover, a#lune:active{
    font-size: 13.5px;
    color: #000000;
    background-color: #FBF598;
  }

  a#week:link, a#week:visited{
    color: #000000;
    text-decoration: none;
    padding: 1px 1px 1px 1px;
    background-color: #FBF598;
  }
  a#week:hover, a#week:active{
    font-size: 13.5px;
    color: #FBF598;
    background-color: #000000;
  }
  #lineaTempoTab{
    position: absolute;
    transform: rotate(90deg);
    top:43px;
    left:297px;
  }
  #orariobassoTab{
    position: absolute;
    color:red;
    top:260px;
    left:470px;
  }
  /*fine programmazione Tab*/
}
